{% extends 'Basic.html' %}
{% block title %}Brain Tech{% endblock title %}
{% block head%} 
<script src="https://kit.fontawesome.com/42d4eb501b.js" crossorigin="anonymous"></script>
{% endblock %}
{% block useRname %}{{username}}{% endblock useRname %}
{% block body %}

<section id="home">
    <h2>AMBITION IS THE FIRST STEP TOWARDS UR</h2>
    <h1 style="animation: revert;font-size: 10rem;color: whitesmoke;">UPSKILL</h1>
    <p>Now Available for Online Coaching</p>
    <div class="btn">
        <a class="blue" href="#">Learn more </a>
        <a class="Yellow" href="{% url 'coursesdisp' %}">Visit Courses </a>
    </div>
</section>
<!-- FEATURE -->
<section id="features">
    <h1>AWSOME FEATURES</h1>
    <p>Explore our feature section to get some amazing content and ideas for your future carrier</p>
    <div class="fea-base">
       <div class="fea-box">
            <i class="fa-solid fa-graduation-cap"></i>
            <h3>Best free resuorces</h3>
            <h4>Find the best free resources according to your needs.</h4>
       </div> 
        <div class="fea-box">
            <i class="fa-solid fa-globe"></i>
            <h3>Youtube resources</h3>
            <h4>You can find people of similar intrest and can ask your queries there.</h4>
        </div> 
        <div class="fea-box">
            <i class="fa-solid fa-certificate"></i>
            <h3>Certification</h3>
            <h4>We find out the best free Certification courses for you.</h4>
        </div> 
     </div>
</section>

<!-- COURSES  -->
<section id="course">
    <h1>FIND COURSES</h1>
    <p>Check out the lastest courses and certification programs according to your intrest</p>
    <div class="course-box">
        <div class="courses">
            {% load static %}
            <img src="{% static './assets/TEMP1.jpg' %}" alt="">
            <div class="details">
                <span>28-2-2022</span>
                <H6>Python sources</H6>
            </div>
            <div class="cost">
                <a href="#" style="text-decoration: none; color: white;">Get</a>
            </div>
        </div>
        <div class="courses">
            {% load static %}
            <img src="{% static './assets/Web-Development.jpg' %}" alt="">
            <div class="details">
                <span>28-2-2022</span>
                <H6>Web-Development</H6>
            </div>
            <div class="cost">
                <a href="#" style="text-decoration: none; color: white;">Get</a>
            </div>
        </div>
        <div class="courses">
            {% load static %}
            <img src="{% static './assets/How-to-Become-a-Data-Analyst-in-2019-A-Complete-Guide.png' %} " alt="">
            <div class="details">
                <span>28-2-2022</span>
                <H6>Data Analyst</H6>
            </div>
            <div class="cost">
                <a href="#" style="text-decoration: none; color: white;">Get</a>
            </div>
        </div>
    </div>
</section>
<footer>
    <br>
    <br>
    <br>
</footer>
{% endblock body %}