{% extends 'Basic.html' %}
{% block title %}Brain Tech{% endblock title %}

{% block useRname %}{{username}}{% endblock useRname %}
{% block body %}

<section id="home">
    <h2>AMBITION IS THE FIRST STEP TOWARDS UR</h2>
    <h1 style="animation: revert;font-size: 10rem;color: whitesmoke;">UPSKILL</h1>
    <p>Now Available for Online Coaching</p>
    <div class="btn">
        <a class="blue" href="#">Learn more </a>
        <a class="Yellow" href="{% url 'coursesdisp' %}">Visit Courses </a>
    </div>
</section>
<!-- FEATURE -->
<section id="features">
    <h1>AWSOME FEATURES</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eaque unde at porro?</p>
    <div class="fea-base">
       <div class="fea-box">
            <i class="fa-solid fa-graduation-cap"></i>
            <h3>Best free resuorces</h3>
            <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At culpa minus dolores n</h4>
       </div> 
        <div class="fea-box">
            <i class="fa-solid fa-globe"></i>
            <h3>Youtube resources</h3>
            <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At culpa minus dolores n</h4>
        </div> 
        <div class="fea-box">
            <i class="fa-solid fa-certificate"></i>
            <h3>Certification</h3>
            <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At culpa minus dolores n</h4>
        </div> 
     </div>
</section>

<!-- COURSES  -->
<section id="course">
    <h1>AWSOME FEATURES</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aperiam quos illo. </p>
    <div class="course-box">
        <div class="courses">
            {% load static %}
            <img src="{% static './assets/TEMP1.jpg' %}" alt="">
            <div class="details">
                <span>12-2-2022</span>
                <H6>Python sources</H6>
            </div>
            <div class="cost">
                Get
            </div>
        </div>
        <div class="courses">
            {% load static %}
            <img src="{% static './assets/Web-Development.jpg' %}" alt="">
            <div class="details">
                <span>12-2-2022</span>
                <H6>Python sources</H6>
            </div>
            <div class="cost">
                Get
            </div>
        </div>
        <div class="courses">
            {% load static %}
            <img src="{% static './assets/How-to-Become-a-Data-Analyst-in-2019-A-Complete-Guide.png' %} " alt="">
            <div class="details">
                <span>12-2-2022</span>
                <H6>Python sources</H6>
            </div>
            <div class="cost">
                Get
            </div>
        </div>
    </div>
</section>
<footer>
    <br>
    <br>
    <br>
</footer>
{% endblock body %}