@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family:"poppins",sans-serif;
}

/* -------------GLOBAL TAG--------------- */
h1{
    font-size:2.5rem;
    font-weight: 700;
    color:rgb(27, 27, 27);
}

span{
    font-size: 2.5rem;
    color: rgb(68, 68, 68);

}

h6{
    font-size: 1.1rem;
    color:black;
}

/* Navigation */
nav{
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px rgb(0, 0, 0,0.15);
    position: fixed;
}
nav img{
    width: 75px;
    cursor: pointer;
}
nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation{
    display: flex;
}
#menu-btn{
    width: 30px;
    height: 30px;
    display:none;
}
#menu-close{
    display:none;
}
nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}
nav .navigation ul li a{
    text-decoration: none;
    color: rgb(0, 0, 20);
    font-size: 16px;
    font-weight: 500;
    transition: 0.030 ease
}
nav .navigation ul li a:hover{
    color: yellow;
}
nav .navigation ul li a:active,
/* HOME */
#home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("images/BACKGROUND.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;

}

#home h2{
    padding: 20px;
    color: aliceblue;
    font-size: 2.2rem;
    letter-spacing: 1px;

}
#home p{
    color: aliceblue;
    font-size: 0.9rem;
    line-height: 25px;
    width: 55%;
}
#home .btn{
    margin-top: 30px;
}
#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}
#home a.blue{
    color: white;
    background-color:rgb(23,21,100);
    transition: 0.03 ease;
}
#home a.blue:hover{
    color: rgb(23,21,100);
    background-color:white;
}
#home a.Yellow{
    color: white;
    background-color: #fdc93b;
    transition: 0.03 ease;
}
#home a.Yellow:hover{
    color: #fdc93b;
    background-color: white;
}

/* FEATURE */
#features{
    padding: 5vw 8vw 2vw 8vw;
    text-align: center;

}
#features .fea-base{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 1rem;
}
#features .fea-box{
    background-color: rgb(230, 230, 230);
    text-align: center;

}

#features .fea-box{
    font-size: 2rem;
    color:rgb(44,44,80) ;
}

#features .fea-box h3{
    font-size: 24px;
    font-weight: 600;
    color: rgb(46,46,59);
    padding: 13px 0 7px 0;
}
#features .fea-box h4{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(78, 78, 131);
}
/* course */
#course{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}
#course .course-box{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 1rem;
}
#course .courses{
    text-align: start;
    background-color: rgb(236, 236, 236);
    height:100%;
    position: relative;
}
#course .courses span{
    font-size: 1rem;
}
#course .courses .details{
    padding: 15px 15px 015px;
}
#course .courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;

}
#course .courses .cost{
    background-color: rgb(43, 0, 92);
    color:#fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position:absolute;
    right: 15px;
    bottom: 29%;

}
/* about */


#about-home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("images/About-bg.png");
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 92px;

}
#about-container{
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
}
#about-container .about-img{
    width: 60%;
    padding: 60px;
}
#about-container .about-img img{
    width: 100%;
}
#about-home h5{
    align-items: center;
}

#about-container .about-text{
    width: 40%;
    padding: 60px;
}
#about-container .about-text h2{
    color: black;

}
@media(max-width:1024px){
    nav{
        padding: 15px 20px;
    }
    nav img{
        width: 130px;
    }
    #menu-btn{
        
        display:initial;
    }
    #menu-close{
        display:initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 30px 0 20px 20px;
    }
    nav .navigation ul {
        display: flex;
        top: 0;
        right: -220px;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        width: 220px ;
        background-color: rgb(17,20,104,0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255,255,255,0.18);
        height: 100vh;
        transition: 0.3s ease;
    }
    nav .navigation ul.active{
        right:0;
    }
    nav .navigation ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }
    nav .navigation ul li a{
        color: #fff;
    }
    #home p{
        width: 90%;
    }
    #home{
        padding-top: 0px;
    }
    #features{
        padding: 8vw 4vw 0 4vw;
    }
    #course{
        padding: 8vw 4vw 0 4vw;
    }
    nav img {
        width: 80px;

}}
@media(max-width :668px){
    #course{
        padding: 6vw 3vw 0 2vw;
    }
    #features{
        padding: 6vw 2vw 0 2vw;
    }
    #features .fea-box {
        background-color: rgb(230, 230, 230);
        text-align: center;
 }
}